.root {
    /* margin-top: 100vh; */
    padding: 0 30px;
    padding-bottom: 60px;
    position: relative;
    z-index: 99;
    background: linear-gradient(0deg, rgba(255,255,255,1) 67%, rgba(255,255,255,0) 100%);
    /* background: white; */
}

.nav {
    background: #f2f2f2;
    position: relative;
    z-index: 10;
    color: black;
    /* top: 0; */
    padding: 1em 0;
}

.nav i a {
    color: white;
}

.nav:after {
    content: '';
    height: .15em;
    width: 100%;
    background:black;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav a {
    color: black;
}

.about, .purchase, .gallery {
    padding-top: 6em;
}

.purchase a {
    padding: 1em;
    background: #C09725;
    display: block;
    color: black;
    border-radius: .15em;
    text-align: center;
    margin-top: 1em;
}

.purchase a:hover {
    background: #ffd600;
}

.root table {
    /* overflow: hidden; */
}

.root table {
    border-collapse: collapse;
    border-radius: .15em;
    display: block;
    border: .15em solid black;
}

.root article + table {
    margin: 2em 0 0 0;

}

.root table td {
    padding: .5em;
    padding-bottom: 1em;
    position: relative;
    vertical-align: top;
}

.root table tr:not(:last-of-type) td:after {
    content: '';
    width: calc(100% + 1px);
    height: .15em;
    background-color: black;
    left:-1px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

.root table td:not(:last-of-type) {
    border-right: .15em solid black;
    padding-right: 1em;
}


.galleryGrid div {
    margin-bottom: 30px;
}

.root table td p {
    margin: 0;
}

.galleryFull {
    padding-bottom: 30px;
}

.galleryFull img {
    width: 100%;
}

.galleryFull img, .galleryGrid div {
    border-radius: .15em;
    overflow: hidden;
}

.backToTop {
    padding-top: 4em;
    padding-bottom: 0em;
    text-align: center;
}

.backToTop a {
    color: #000;
}

.galleryFull {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.galleryFull div {
    height: 100%;
    margin: 0 auto;
}

.galleryVideo {
    padding-bottom: 30px;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* position: relative; */
}

.videoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border-radius: .15em;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hr {
    border: none;
    /* border-top: .15em solid black; */
    height: .15em;
    background-color: black;
    border-radius: 3em;
    display: block;
}

@media screen and (min-width: 768px) {

    .galleryFull {
        padding-bottom: 0;
        height: 85vh;
        /* height: 100%; */
        position: relative;
    }

    .backToTop {
        padding-top: 0;
        padding-bottom: 4em;
    }

    .about, .purchase, .gallery {
        padding-top: 3em;
    }

    .purchase {
        padding-bottom: 3.5em;
    }

    .gallery div:not(:last-child) {
        /* margin-bottom: 0px; */
    }

    .galleryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        /* margin-top: .75em; */
        margin-bottom: 30px;
        /* overflow-x: scroll; */
        /* margin: 0 -60px; */
    }

    .galleryGrid div {
        margin-bottom: 0px;
    }

    .galleryFull {
        margin-bottom: 30px;
    }
   
    .root {
        padding: 0 60px;
    }

    .root p + table {
        margin: 1.5em 0 0;
    }


}