.root {
    /* margin-top: 100vh; */
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    z-index: 99;
    /* background: white; */
}

.nav {
    background: white;
    position: relative;
    z-index: 10;
    color: black;
    /* top: 0; */
    padding: 1em 0;
}

.nav i a {
    color: white;
}

.nav:after {
    content: '';
    height: 3px;
    width: 100%;
    background:black;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav a {
    color: black;
}

.about, .purchase, .gallery {
    padding-top: 4em;
}

.table {
    border-collapse: collapse;
    margin: 2em 0 0 0;
    border-radius: 6px;
    display: block;
    border: 3px solid black;
}

.table td {
    padding: .25em;
    padding-bottom: .75em;
    position: relative;
    vertical-align: top;
}

.purchase a {
    padding: 1em;
    background: #C09725;
    display: block;
    color: black;
    border-radius: 4px;
    text-align: center;
}



.table tr:not(:last-of-type) td:after {
    content: '';
    width: calc(100% + 1px);
    height: 3px;
    background-color: black;
    left:-1px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    /* border-radius: 4px; */
}

.table td:not(:last-of-type) {
    border-right: 3px solid black;
    padding-right: 1em;
}

.gallery::-webkit-scrollbar {
    display: none;
  }

.gallery div {
    /* flex: 0 0 50vw; */
    width: 100%;
    height: 50vh;
    background: gray;
    border-radius: 6px;
}

.gallery div:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .about, .purchase, .gallery {
        padding-top: 3em;
    }

    .purchase {
        padding-bottom: 3.5em;
    }

    .gallery div:not(:last-child) {
        margin-bottom: 0px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        /* overflow-x: scroll; */
        /* margin: 0 -60px; */
    }

    .gallery div:first-child {
        /* margin-left: 60px; */
    }
    
    .gallery div:last-child {
        /* margin-right: 60px; */
    }

    .gallery div {
        /* flex: 0 0 33.33vw; */
        /* width: 33.33vw; */
        height: 40vw;
        /* margin-right: 30px; */
        margin-bottom: 0;

    }
    .root {
        padding: 0 60px;
    }

    .table {
        margin: 1.5em 0 0;
    }
}