.root {
    margin-top: 100vh;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    z-index: 99;
    /* background: white; */
}

.nav {
    background: white;
    position: relative;
    z-index: 10;
    color: black;
    /* top: 0; */
    padding: 1em 0;
}

.nav i a {
    color: white;
}

.nav:after {
    content: '';
    height: .15em;
    width: 100%;
    background:black;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav a {
    color: black;
}

.about, .purchase, .gallery {
    padding-top: 4em;
}

.purchase a {
    padding: 1em;
    background: #C09725;
    display: block;
    color: black;
    border-radius: .15em;
    text-align: center;
}


.root table {
    /* overflow: hidden; */
}

.root table {
    border-collapse: collapse;
    border-radius: .15em;
    display: block;
    border: .15em solid black;
}

.root article + table {
    margin: 2em 0 0 0;

}

.root table td {
    padding: .5em;
    padding-bottom: 1em;
    position: relative;
    vertical-align: top;
}

.root table tr:not(:last-of-type) td:after {
    content: '';
    width: calc(100% + 1px);
    height: .15em;
    background-color: black;
    left:-1px;
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

.root table td:not(:last-of-type) {
    border-right: .15em solid black;
    padding-right: 1em;
}

.galleryGrid div {
    width: 100%;
    height: 50vh;
    background: gray;
    border-radius: .15em;
}

.galleryGrid div:not(:last-child) {
    margin-bottom: 30px;
}

.root table td p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .about, .purchase, .gallery {
        padding-top: 3em;
    }

    .purchase {
        padding-bottom: 3.5em;
    }

    .gallery div:not(:last-child) {
        margin-bottom: 0px;
    }

    .galleryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-top: .75em;
        /* overflow-x: scroll; */
        /* margin: 0 -60px; */
    }

    .galleryGrid div {
        /* flex: 0 0 33.33vw; */
        /* width: 33.33vw; */
        height: 40vw;
        /* margin-right: 30px; */
        margin-bottom: 0;

    }
    .root {
        padding: 0 60px;
    }

    .root p + table {
        margin: 1.5em 0 0;
    }


}