@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

@font-face {
    font-family: 'Aral-Type BQ';
    src: url('/fonts/Aral-TypeBQ-Bold.woff2') format('woff2'),
        url('/fonts/Aral-TypeBQ-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Karl';
    src: url('/fonts/KarlST_Black.woff2') format('woff2'),
        url('/fonts/KarlST_Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karl';
    src: url('/fonts/KarlST_Medium.woff2') format('woff2'),
        url('/fonts/KarlST_Medium.woff') format('woff');
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-size: 20px;
    letter-spacing: -0.02em;
    font-family: 'Karl';
}

.small {
    font-size: 14px;
}

body::-webkit-scrollbar {
    display: none;
}



.CircularProgressbar-trail {
    stroke: #C09725 !important;
    transition: all .2s;
}

.CircularProgressbar .CircularProgressbar-path {
    min-height: 100%;
    /* stroke: url(#gradientStroke) !important; */
    stroke: #FFD600 !important;
    /* animation: a 2s linear infinite !important; */
}

@keyframes a {
    0% {
        stroke: #EAA3F8 !important;
    }

    20% {
        stroke: #CD1318 !important;
    }

    40% {
        stroke: #20A12E !important;
    }

    60% {
        stroke: #1536AB !important;
    }

    80% {
        stroke: #8B12DE !important;
    }
}

body,
button,
p,
h2,
h3,
h4,
h5,
nav,
a {
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: -0.02em;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    body,
    button,
    p,
    h2,
    h3,
    h4,
    h5,
    nav,
    a {
        font-size: 2.5vw;
        letter-spacing: -0.02em;
    }
}

button {
    display: inline;
}

nav,
nav * {
    color: white;
    font-family: 'Karl', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 1em;
    list-style: none;
}