.root {
    position: fixed;
    bottom: 30px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: white;
    text-align: center;
    font-family: 'Karl', sans-serif;
}

.text {
    padding-top: .75em;
    display: block;
}

.buttonHolder {
    position: relative;
    /* bottom: 60px; */
    width: 88px;
    height: 88px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

}

.button {
    width: 72px;
    height: 72px;
    background: #C09725;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    user-select: none;
    outline: none;
    transition: all .2s;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 12px;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}



.buttonPlaying {
    cursor: none;
    width: 52px !important;
    height: 52px !important;
        border-radius: 6px;
    /* background-color: rgba(192, 151, 37, .5); */
    color: rgba(0, 0, 0, .2);
}

.textPlaying {
    opacity: 0;
}


@media screen and (min-width: 768px) {
    .root {
        bottom: 40px;
    }
    .button {
        bottom: 40px;
    }
    .text {
        padding-top: .5em;
    }
}