.root {
    position: fixed;
    bottom: 30px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: white;
    text-align: center;
    cursor: pointer;
    /* font-family: 'Karl', sans-serif; */
}


.text {
    padding-top: .75em;
    display: inline-block;
}


.buttonHolder {
    position: relative;
    /* bottom: 60px; */
    width: 88px;
    height: 88px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

}

@keyframes pulse {
    0%,
    100% {
        background: #C09725;
    }

    49.999% {
        background: #C09725;
    }

    50% {
        background: #ffd600;
    }

    99.999% {
        background: #ffd600;
    }
  }

.button {
    animation: pulse .75s linear forwards infinite;
    width: 72px;
    height: 72px;
    background: #C09725;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    user-select: none;
    outline: none;
    transition: all .2s;
    transition-property: background-color, border-radius, width, height;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 12px;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.button:hover {
    background: #ffd600;
    animation: none;
}



.buttonPlaying {
    animation: none;
    cursor: none;
    width: 52px !important;
    height: 52px !important;
        border-radius: 6px;
    /* background-color: rgba(192, 151, 37, .5); */
    color: rgba(0, 0, 0, .2);
}

.textPlaying {
    opacity: 0;
}


@media screen and (min-width: 768px) {
    .root {
        bottom: 40px;
    }
    .button {
        bottom: 40px;
    }
    .text {
        padding-top: .5em;
    }
}