.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.header {
    position: fixed;
    top: 20px;
    /* bottom: .5rem; */
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: -.025rem;
    text-align: center;
    width: 100%;
    left: 0;
    /* z-index: 10; */
    pointer-events: none;
}

@media screen and (max-width: 768px) {}

.mainImage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
    object-fit: cover;
}

.viewer {
    width: 100px;
    /* height: 100px; */
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 30;
    border-radius: 1rem;
    overflow: hidden;
    background: white;
    background-blend-mode: difference;
}

@media screen and (max-width: 768px) {
    .viewer {
        left: auto;
        bottom: auto;
        top: 1rem;
        right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 8px;
        bottom: 3rem;
    }
}


.title,
.title * {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 4vw;
    letter-spacing: -.04em;
    color: white;
    mix-blend-mode: difference;
    line-height: 1;
}

.titleComingSoon {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9.5vw;
    flex-direction: column;
    display: flex;
    line-height: .875;
    margin: 0;
    letter-spacing: -.075em;
    padding: 0;
    margin-top: 20px;
    margin-bottom: .5em;
}

@media screen and (max-width: 768px) {

    .titleComingSoon {
        font-family: Arial, Helvetica, sans-serif;display: flex;
        flex-direction: column;
        font-size: 9.5vw;
        /* font-size: 28px; */
        line-height: 1;
        margin: 0;
        letter-spacing: -.075em;
        padding: 0;
        margin-top: 16px;
        /* margin-bottom: .5em; */
    }

    .titleComingSoon span {
        letter-spacing: -.05em;
    }

    .titleComingSoon strong:last-child {
        /* margin-top: 1em; */
    }


    .titleComingSoon strong:last-child, .titleComingSoon strong:last-child * {
        /* animation: none !important; */
        /* font-size: 12px; */
        /* text-transform: uppercase; */
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.titleComingSoonTop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    letter-spacing: -.05em;
    top: 0;
    /* letter-spacing: .1em; */
    /* margin-top: 12px; */
    text-align: center;
    width: 100%;
}


.marquee {
    font-size: 12px;
    /* color: #1536AB; */
    /* color: #CD1318; */
    font-weight: bold;
    line-height: 1;
    padding: 10px 0;
    font-weight: bolder;
    margin-top: 0px;
    z-index: -1;
    white-space: nowrap;
    /* position: fixed; */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #EAA3F8;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .titleComingSoon {
        letter-spacing: 0;
        margin-bottom: 0px;
    }

    .marquee {
        font-size: 12px;
        /* letter-spacing: 0.01em; */
    }

}

.comingSoonMarqueFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.title {
    padding-left: 14vw;
}

.title strong {
    font-weight: bold;
}

.modelViewer {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 30;
}


.textShown {
    transition: opacity 2.5s;
    opacity: 1;
}

.textHidden {
    transition: opacity .5s;
    opacity: 0;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.arButton {
    position: absolute;
    bottom: calc(48px + 2.75rem);
    left: 2rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: calc(100vw - 4rem);
    height: 42px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-color: #000;
    color: white;
}

.arButton::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background-image: repeating-linear-gradient(-45deg,
            #CD1318 0 10%,
            #E1CD15 10% 20%, #20A12E 20% 30%, #1536AB 30% 40%, #8B12DE 40% 50%, #EAA3F8 50% 60%);
    border-radius: 100px;
    /* background: repeating-linear-gradient(-45deg, #f00 0, #f00 10px, #fff 10px, #fff 20px, #00f 20px, #00f 30px, #fff 30px, #fff 40px); */
    animation: anime 5s linear infinite;
}

@keyframes anime {
    0% {
        background-position: 0;
    }

    100% {
        background-position: calc(100vw - 49px);
    }
}

.comingSoonFooter {
    position: fixed;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1.25rem;
    left: 0;
    max-width: 800px;
    text-transform: uppercase;
    font-weight: bold;
    gap: .5rem;
    width: 100%;
    /* font-size: 14px; */
    width: calc(100% - 4rem);
    left: 50%;
    transform: translateX(-50%);
}

.comingSoonFooter a {
    display: flex;
    /* color: #8B12DE; */
    color: black;
    /* color: rgba(0, 0, 0, .75); */
    align-items: center;
    justify-content: center;
    flex: 1;
    letter-spacing: -.02em;
    text-align: center;
    /* border: 1px solid #EAA3F8; */
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 200px;
    text-decoration: none;
    font-size: 12px;
    /* font-size: 14px; */
    height: 48px;
}

.comingSoonFooter a:hover {
    color: white;
    background: black;
}

.arButtonFull {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .25rem 1rem .3rem 1rem;
    border-radius: 30px;
    font-size: 14px;
    background-color: black;
    color: white;
}

.canvas {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    pointer-events: none;
}

canvas {
    width: 100%;
    height: 100%;
}

.blue {
    color: #1536AB;
    display: inline-block;
    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
}

.green {
    color: #20A12E;
    display: inline-block;

    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;

}

.yellow {
    color: #E1CD15;
    display: inline-block;

    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;

}

.red {
    color: #CD1318;
    display: inline-block;

    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;

}

.black {
    color: #131414;
    display: inline-block;

    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;

}

.pink {
    color: #EAA3F8;
    display: inline-block;

    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;

}

.purple {
    color: #8B12DE;
    display: inline-block;

    animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite;
    -moz-animation: bounce 1s infinite;
    -o-animation: bounce 1s infinite;

}



@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-5px);
    }

    60% {
        -webkit-transform: translateY(-2px);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-5px);
    }

    60% {
        -moz-transform: translateY(-2px);
    }
}

@-o-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-5px);
    }

    60% {
        -o-transform: translateY(-2px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-2px);
    }
}