.main {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

.image {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button:hover {
  /* width: 105px; */
  /* height: 105px; */
}

.svgGradient {
  position: absolute;
  pointer-events: none;
}

.loader {
  position: absolute;
  width: 92px !important;
  height: 92px;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.hidden {
  opacity: 0 !important;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  color: white;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s opacity;
  transition-delay: 2s;
  text-align: center;
  /* pointer-events: none; */
}

.titleContent {
  position: relative;
  pointer-events: none;
  height: 25vh;
  color: black;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
.titleContent {
  min-height: 400px;
}
}

.h1 span {
  opacity: 1;
  transition: 0s opacity;
  display: inline-block;
  font-weight: bold;
}

.h1Hidden span {
  opacity: 0;
}

.h1 span:nth-child(2) {
  transition-delay: 0.1s;
}

.h1 span:nth-child(3) {
  transition-delay: 0.15s;
}

.h1 span:nth-child(4) {
  transition-delay: 0.2s;
}

.h1 span:nth-child(5) {
  transition-delay: 0.25s;
}

.h1 span:nth-child(6) {
  transition-delay: 0.3s;
}

.h1 span:nth-child(7) {
  transition-delay: 0.35s;
}

.h1 span:nth-child(8) {
  transition-delay: 0.4s;
}

.h1 span:nth-child(9) {
  transition-delay: 0.45s;
}

.h1 span:nth-child(10) {
  transition-delay: 0.5s;
}

.h1 span:nth-child(11) {
  transition-delay: 0.55s;
}

.h1 span:nth-child(12) {
  transition-delay: 0.6s;
}

.h1 span:nth-child(13) {
  transition-delay: 0.65s;
}

.h1 span:nth-child(14) {
  transition-delay: 0.7s;
}

.h1 span:nth-child(15) {
  transition-delay: 0.75s;
}

.h1 span:nth-child(16) {
  transition-delay: 0.8s;
}

.h1 span:nth-child(17) {
  transition-delay: 0.85s;
}

.h1 span:nth-child(18) {
  transition-delay: 0.9s;
}

.h1 {
  /* font-size: 10.15625vw;
    letter-spacing: -.045em; */
  font-size: 10vw;
  letter-spacing: -0.05em;
  /* line-height: 0; */
  white-space: nowrap;
  margin-top: -1em;
  margin-bottom: 0;
  font-weight: 800;
  text-align: center;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  color: white;
  transition: color 2s;
  z-index: 9999;
  /* font-size: 20px; */
}

.header::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: 0;
  height: .15em;
  background: white;
  border-radius: 6px;
  width: 0;
  transition: width 1s;
}

.headerInner {
  padding: 25px 0;
}

.headerSticky {
  /* position: sticky; */
  top: 0;
  background: white;
  color: black;
}

.headerSticky a,
.headerSticky i {
  color: black;
}

.headerSticky svg path {
  fill: black;
}

.headerHidden {
  display: none;
}

.header a,
.header button {
  color: white;
}

.header a:hover {
  border-bottom: 0.15em solid;
  border-position: 1em;
}

.headerSticky,
.headerSticky a {
  /* margin-top: 25px; */
  color: black;
}

.headerSticky::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: 0;
  height: .15em;
  background: black;
  border-radius: 6px;
  width: calc(100% - 60px);
}

.headerSticky nav {
  color: black;
}

.header button {
  padding: 0;
  margin: 0;
}

.external {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  gap: 1.25rem;
  font-size: 20px;
  /* margin-right: 50px; */
  /* font-size: 14px; */
}

.external a:hover {
  border: none;
}

.bodyTextUppercase {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.text {
  position: fixed;
  transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.textHidden {
  transform: translateY(100%);
}

.video video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}

.videoHidden {
  opacity: 0;
  pointer-events: none;
  z-index: -999;
}

.textContainer {
  display: flex;
  text-align: left;
  margin: 0 32px;
  margin-top: 32px;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 32px;
  margin-top: calc(50vh - 5rem);
}

.nav button {
  border: none;
  text-align: left;
  background: none;
  white-space: nowrap;
  padding-left: 0;
}

.section article {
  padding-bottom: 120px;
}

.authorText {
  transition: 0s all;
  transition-delay: 0.85s;
  margin: 0;
  padding: 0;
  /* margin-top: -0.25em; */
  letter-spacing: -0.02em;
  /* padding-top: 0.25em; */
  display: block;
}

.authorTextHidden {
  opacity: 0;
}

.headerInner {
  margin: 0 30px;
  position: relative;
}

.preloader {
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
}

@media screen and (min-width: 768px) {
  .title {
    margin-left: -0.25em;
  }
  .header::before {
    background: transparent;
  }

  .headerSticky::before {
    background: black;
    bottom: "auto";
    top: 0;
  }

  .header {
    position: fixed;
    bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    left: 0px;
    text-align: left;
    color: white;
    top: auto;
  }

  .headerSticky::before {
    left: 60px;
    width: calc(100% - 120px);
  }

  .headerInner {
    margin: 0 60px;
  }

  .external {
    font-size: 2.5vw;
  }

  .h1 {
    margin: 0;
    font-size: 10.875vw;
    letter-spacing: -0.075em;
    margin-top: -0.5em;
  }

  .authorText {
    margin-top: -0.5em;
    letter-spacing: -0.03em;
  }

  .nav {
    margin-top: 65vh;
    position: sticky;
    top: 80px;
    left: 80px;
    padding-right: 80px;
    width: 30%;
    margin-left: 0;
  }

  .textContainer {
    width: calc(70% - 80px);
    left: 30%;
    margin: 0;
    position: absolute;
    top: 65vh;
  }
}
