.root {

}

.form {
    padding-top: 6em;
}

@media screen and (min-width: 768px) {
    .root {
        max-width: 75%;
        margin: 0 auto;
    }

    .form {
        padding-top: 2em;
    }
}

.fieldWrap {

}

.fieldWrap td {
    width: 100%;
}

.label {

}

.input {
    padding: .5em;
    display: block;
    width: calc(100% - 1em);
    padding-bottom: 1em;
}

.submitButton {
    padding: 1em;
    background: #C09725;
    display: block;
    color: black;
    border-radius: 3.5px;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.submitButton:hover {
    background: #ffd600;
}


.errorMessage {

}

.successMessage {
    background-color: #00b242;
    text-align: center;
    padding: .5em;
    border-radius:.15em;
}

.table {
    display: table !important;
    border: 0.15em solid black; 
    width: 100%;
    overflow: visible;
}

.table td:not(.tdPadding) {
    padding: 0 !important;
    border-right: .15em solid black;
}

.tdPadding {
    padding: .5em !important;
    padding-bottom: 1em !important;
}

.tdProduct {
    max-width: 50%;
}

.tdProduct img {
}

.productImage {
    display: block;
    right: 0;
    top: 0;
    border-bottom: .15em solid black;
    width: calc(100% - 0.5em);
    margin: 0.25em;
    padding-bottom: 0.25em;
}

@media screen and (min-width: 600px) { 

    
.productDetails {
    max-width: 360px;
}

    .productImage {
        border-left: .15em solid black;
        border-bottom: 0;
        max-width: 220px;
        padding-left: .25em;
        padding-bottom: 0;
        margin-bottom: .375em;
    }
}

.productCell {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .productCell {
        justify-content: space-between;
        flex-direction: row-reverse;

    }
}